body {
  margin: 0;
  font-family: var(--wc-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 100%;
  padding: 0 var(--container-padding);
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}
p {
  margin-bottom: 1rem;
}

body a {
  color: var(--link-color);
  text-decoration: underline;
  font-weight: 500;
}

body a:hover {
  color: var(--link-color-hover)
}

:root {
  --container-padding: 9.7rem;
  --section-padding: 100px;


  --logo-bg-color: rgba(0,0,0,0);
  --header-bg-color: rgba(44,69,130,1);
  --header-font-color: rgba(255,255,255,1);
  --header-separator-color: rgba(255,255,255,1);
  --header-border-color: rgba(0,0,0,0);
  --headerbtn-bg-color: rgba(185,196,206,1);
  --headerbtn-font-color: rgba(0,0,0,1);
  --menu-bg-color: rgba(0,0,0,0);
  --menu-font-color: rgba(255,255,255,1);
  --menu-active-bg-color: rgba(127,145,180,1);
  --menu-active-font-color: rgba(245,245,245,1);
  --menu-hover-font-color: rgba(245,245,245,1);
  --menu-border-color: rgba(34,68,90,1);
  --submenu-bg-color: rgba(44,69,130,1);
  --submenu-font-color: rgba(255,255,255,1);
  --submenu-hover-bg-color: rgba(13,36,72,1);
  --submenu-hover-font-color: rgba(255,255,255,1);
  --submenu-separator-color: rgba(255,255,255,1);
  --menu-font-size: 16;
  --submenu-font-size: 15;
  --menu-font-family: Montserrat,sans-serif;
  --footer-bg-color: rgba(25,26,26,1);
  --footer-font-color: rgba(190,190,190,1);
  --footer-separator-color: rgba(190,190,190,1);
  --footer-font-size: 17;
  --wc-font-family: Maven Pro,sans-serif;
  --wc-font-size: 16;
  --wc-font-color: #6E6E6E;
  --wc-base-lineHeight: 1.5;
  --wc-mobile-font-size: 14;
  --wc-heading-font-family1: Montserrat,sans-serif;
  --wc-heading-font-family2: Montserrat,sans-serif;
  --wc-headingLineHeight: 1.2;
  --wc-h-margin: 16;
  --wc-fs-heading1: 36;
  --heading-color1: #43425D;
  --wc-fs-heading2: 32;
  --heading-color2: #43425D;
  --wc-fs-heading3: 28;
  --heading-color3: #43425D;
  --wc-fs-heading4: 24;
  --heading-color4: #43425D;
  --wc-fs-heading5: 22;
  --heading-color5: #43425D;
  --wc-fs-heading6: 20;
  --heading-color6: #43425D;
  --btn-text-color: rgba(255,255,255,1);
  --btn-text-hover: rgba(255,255,255,1);
  --BtnborderRadius: 50;
  --btn-danger: rgba(148,0,0,1);
  --link-color: #0E53A8;
  --link-color-hover: rgba(44,69,130,1);
  --accordion-headbg-color: rgba(68,117,148,1);
  --accordion-headtext-color: rgba(255,255,255,1);
  --accordion-headbg-hover-color: rgba(56,108,141,1);
  --accordion-headtext-hover-color: rgba(255,255,255,1);
  --table-thead-color: rgba(56,108,141,1);
  --table-th-color: rgba(245,245,245,1);
  --primary-color: #0E53A8;
  --primary-color-hover: #42566C;
  --secondary-color: #42566C;
  --secondary-color-hover: #0E53A8;
  --wc-body-bg: rgba(242,242,242,1);
  --wc-overlay-bg: rgba(56,108,141,1);
  --bg-text-color: rgba(255,255,255,1);
  --borderRadius: 12;
  --white-color: rgba(255,255,255,1);
  --wc-border-color: #D6D6D6;
  --field-height: 50;
  --sliderArrow-bg: rgba(255,255,255,1);
  --sliderArrow-width: 50;
  --sliderArrow-height: 50;
  --list-icon: "\f105";
  --link-icon: "\f0c1";
  --arrow-icon-down: "\f107";
  --arrow-icon-up: "\f106";
  --arrow-icon-up-01: "\f077";
  --arrow-icon-left: "\f104";
  --arrow-icon-right: "\f105";
  --email-icon: "\f0e0";
  --phone-icon: "\f879";
  --calendar-icon: "\f073";
  --clock-icon: "\f017";
  --location-icon: "\f3c5";
  --plus-icon: "\f0fe";
  --plus-icon-1: "\f067";
  --minus-icon: "\f146";
  --minus-icon-1: "\f068";
  --disable-icon: "\f070";
  --meeting-icon: "\f0c0";
  --reminder-icon: "\f0f3";
  --repeat-icon: "\f021";
  --help-icon: "\f05a";
  --member-icon: "\f007";
  --hash-icon: "\f292";
  --search-icon: "\f002";
  --check-icon: "\f00c";
  --check-icon-01: "\f14a";
  --close-icon: "\f00d";
  --close-icon-1: "\f057";
  --upload-icon: "\f093";
  --address-icon: "\f1ad";
  --trash-icon: "\f2ed";
  --edit-icon: "\f044";
  --fontawesome-family: "Font Awesome 5 Free";
}